<div class="posts container d-flex flex-column p-2 bg-transparent rounded-2 mt-2 justify-content-center align-items-center"
     infinite-scroll
     [infiniteScrollDisabled]="isInfiniteScrollDisabled"
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollUpDistance]="scrollUpDistance"
     (scrolled)="loadMorePosts()">
  <div class="d-flex justify-content-center gap-3 flex-wrap align-items-center">
    <mat-slide-toggle (change)="toggleInfiniteScroll($event.checked)"
                      color="primary">
      <span style="color: white;"
            class="fw-bolder">Infinite scroll</span>
    </mat-slide-toggle>
    <mat-form-field>
      <mat-label>Posts per API call</mat-label>
      <mat-select disableRipple
                  [(ngModel)]="showPosts">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="15">15</mat-option>
      </mat-select>
    </mat-form-field>
    <div ngbDropdown
         class="dropdown">
      <label for="dropdownMenu2"
             class="fw-bold text-white">Filter posts by category</label>
      <button class="btn text-white dropdown-toggle"
              id="dropdownMenu2"
              ngbDropdownToggle
              aria-expanded="false">
        {{ selectedTag }}
      </button>
      <ul class="dropdown-menu"
          aria-labelledby="dropdownMenu2"
          ngbDropdownMenu>
        @for (tag of tags; track tag) {
          <li>
            <button class="dropdown-item btn btn-outline-dark"
                    type="button"
                    (click)="selectItem(tag)"
                    value="">{{ tag }}
            </button>
          </li>
        }
      </ul>
    </div>
    <div matBadge="{{ totalPosts }}"
         matBadgeOverlap="false"
         class="demo-section"
         style="color: white;">Total posts
    </div>
  </div>
  <div class="d-flex gap-3 flex-wrap justify-content-center">
    @for (post of posts | filterPosts: selectedTag; track post; ) {
      <app-post [post]="post"
                (selectedTagChange)="selectItem($event)"
                [selectedTag]="selectedTag">
      </app-post>
    }
  </div>
  @if (isInfiniteScrollDisabled) {
    <button class="load-more-posts btn mt-4"
            [disabled]="totalNumberOfPosts <= posts.length"
            (click)="loadMorePosts()">Load more posts
    </button>
  }
</div>
