<h2 mat-dialog-title>GDPR Compliance</h2>
<mat-dialog-content class="mat-typography">
  <p>We care about your privacy and are committed to protecting your personal information. This notice explains how we
    collect, use, and safeguard your data when you use our services.</p>

  <h3>What information do we collect?</h3>
  <p>We collect information from you when you register on our site, place an order, subscribe to our newsletter, respond
    to a survey, fill out a form, or enter information on our site.</p>

  <h3>How do we use your information?</h3>
  <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter,
    respond to a survey or marketing communication, surf the website, or use certain other site features in the
    following ways:</p>
  <ul>
    <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you
      are most interested.
    </li>
    <li>To improve our website in order to better serve you.</li>
    <li>To allow us to better service you in responding to your customer service requests.</li>
    <li>To administer a contest, promotion, survey, or other site feature.</li>
    <li>To quickly process your transactions.</li>
    <li>To send periodic emails regarding your order or other products and services.</li>
  </ul>

  <h3>How do we protect your information?</h3>
  <p>We implement a variety of security measures to maintain the safety of your personal information when you place an
    order or enter, submit, or access your personal information.</p>

  <h3>Do we use cookies?</h3>
  <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through
    your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and
    capture and remember certain information. We use cookies to help us remember and process the items in your shopping
    cart and understand and save your preferences for future visits.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
          mat-dialog-close>Close
  </button>
</mat-dialog-actions>
