.product-card {
  height: 600px;
  background-color: #fafafa;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.product-thumbnail {
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
